
.pokemon-list {
  padding: 10px 20px;
  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .skel-cont {
    height: 100%;
  width: 100%;
  }
}

.loading-container {
  min-width: 400px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}